//
// - - - - - - - - - - Hamburger Button - - - - - - - - - - //
//

.nav-toggle {
	background-color: inherit;
	height: 18px;
	margin-top: 6px;
	border: none;

	&:focus {
		outline: none;
	}

	.hamburger {
		display: block;
		position: relative;
	}

	.hamburger,
	.hamburger::before,
	.hamburger::after {
		width: 2em;
		height: 2px;
		background-color: #f9f3fe;
		z-index: 1000;

		transition: transform 450ms ease-in-out, background-color 350ms linear;
	}

	.hamburger::before,
	.hamburger::after {
		content: '';
		position: absolute;
		left: 0;
	}

	.hamburger::before {
		bottom: 6px;
	}

	.hamburger::after {
		top: 6px;
	}
}

//
// - - - - - - - - - - Modal Open Button - - - - - - - - - - //
//

.read-more {
	color: white;
	background: none;
	outline: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

//
// - - - - - - - - - - Copy Email Button - - - - - - - - - - //
//

.emailbutton {
	width: 24px;
	background: none;
	outline: none;
	border: none;
	padding: 0;

	&:active {
		transform: scale(.85);
	}
}
