//
// - - - - - - - - - - Hamburger Button - - - - - - - - - - //
//

.nav-toggle {
	background-color: initial;
	border: none;

	&:focus {
		outline: none;
	}
}

.hamburger {
	display: block;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	width: 2em;
	height: 2px;
	background-color: #333;

	transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
	content: '';
	position: absolute;
	left: 0;
}

.hamburger::before {
	bottom: 6px;
}

.hamburger::after {
	top: 6px;
}
