//
// - - - - - - - - - - Project Images - - - - - - - - - - //
//

#projects {
	img {
		display: block;
		width: 300px;
	}
}

//
// - - - - - - - - - - SVG Icons - - - - - - - - - - //
//

.icons {
	display: flex;
	cursor: pointer;
}
