//
// - - - - - - - - - - Hamburger Menu - - - - - - - - - - //
//

.navbar {
	position: absolute;
	top: 0;
	margin-top: 25px;
}

.navlinks {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0;

	.menulink {
		display: block;
		margin-bottom: 25px;
	}
}

//
// - - - - - - - - - - Banner - - - - - - - - - - //
//

.banner {
	height: 250px;
	padding-top: 125px;

	p {
		margin: 0;
	}
}

//
// - - - - - - - - - - About - - - - - - - - - - //
//

#about {
	padding-top: 50px;

	h2 {
		margin-top: 0;
	}

	p {
		margin-bottom: 0;
	}
}

//
// - - - - - - - - - - Projects - - - - - - - - - - //
//

#projects {
	padding-top: 50px;

	h2 {
		margin-top: 0;
	}
}
