//
// - - - - - - - - - - Hamburger Menu - - - - - - - - - - //
//

.navbar {
	position: absolute;
	top: 0;
	margin-top: 25px;
}

.navlinks {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0;

	.menulink {
		display: block;
		margin-bottom: 25px;
	}
}

//
// - - - - - - - - - - Banner - - - - - - - - - - //
//

.banner {
	width: 90%;
	height: 250px;
	padding-top: 125px;
	margin: 0 auto;

	.name {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		h1 {
			margin-bottom: -25px;
		}
	}
}

//
// - - - - - - - - - - About - - - - - - - - - - //
//

#about {
	padding-top: 50px;

	h2 {
		margin-top: 0;
	}

	p {
		margin-bottom: 75px;
	}
}

//
// - - - - - - - - - - Projects - - - - - - - - - - //
//

#projects {
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;

	h2 {
		margin-top: 0;
	}
}

.project-card {
	width: 100%;
	border: 1px solid #ffad00;
	margin-bottom: 15px;

	h3 {
		text-align: center;
		font-weight: bold;
	}

	img {
		margin: auto;
	}

	p {
		padding: 0 10px;
	}

	a {
		cursor: pointer;
	}
}

//
// - - - - - - - - - - Footer - - - - - - - - - - //
//

footer {
	border-top: 1px solid #ffad00;

	span {
		display: none;
	}

	.social {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin: 0 auto;

		svg {
			margin-right: 25px;
		}

		svg:nth-child(3) {
			margin-right: 0;
		}

		p {
			margin-left: 5px;
		}
	}
}
