//
// - - - - - - - - - - Hamburger Menu - - - - - - - - - - //
//

.navbar {
	position: absolute;
	width: 100vw;
	top: 0;
	margin-top: 25px;
}

.navlinks {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 5px;
	z-index: -1;

	.menulink {
		display: block;
		margin-bottom: 25px;
	}
}

//
// - - - - - - - - - - Banner - - - - - - - - - - //
//

.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 250px;

	p {
		position: relative;
		margin: 0;
	}

	.r {
		margin: 25px 0;
	}

	.c,
	.r,
	.h {
		bottom: 0;
		position: relative;
		margin-left: 50px;
		overflow: hidden;
	}
}

//
// - - - - - - - - - - About - - - - - - - - - - //
//

#about {
	padding-top: 50px;

	h2 {
		margin-top: 0;
	}

	p {
		margin-bottom: 0;
	}
}

//
// - - - - - - - - - - Projects - - - - - - - - - - //
//

#projects {
	padding-top: 50px;

	h2 {
		margin-top: 0;
	}
}
