//
// - - - - - - - - - - 400px - - - - - - - - - - //
//

@media (min-width: 400px) {
  .navlinks {
    margin: 16px 40px;
  }

  .banner {
    h1 {
      text-align: center;
    }
  }

  #about {
    padding-top: 55px;
    margin-bottom: 85px;
  }

  #projects {
    margin-bottom: 100px;
  }

  footer {
    span {
      display: inline;
      position: absolute;
      right: 15px;
    }
  }
}

//
// - - - - - - - - - - 768px - - - - - - - - - - //
//

@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin-top: 16px;
    transform: none;
    transition: none;
  }

  .navlinks {
    margin: 0;

    .menulink {
      line-height: .75em;
      transition: all .3s ease-in-out;

      &:hover {
        color: #ffad00;
      }
    }
  }

  .banner {
    width: 90%;
    margin-bottom: 200px;

    .name {
      padding-right: 18%;

      h1 {
        font-size: 5em;
      }
    }
  }

  #about {
    width: 90%;
    margin: auto;
    margin-bottom: 140px;
  }

  #projects {
    width: 90%;
    margin: auto;
    margin-bottom: 75px;

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .project-card {
      width: 47%;
    }
  }

  #contact {
    width: 90%;
    margin: auto;
  }
}

//
// - - - - - - - - - - 1260px - - - - - - - - - - //
//

@media (min-width: 1260px) {
  body {
    font-size: 1.25em;
  }

  .banner {
    padding-top: 190px;
    margin-bottom: 300px;

    .name {
      padding-right: 25%;
    }
  }

  #about {
    margin-bottom: 195px;

    p {
      width: 70%;
    }

    p:last-of-type {
      width: 40%;
    }
  }

  #projects {
    margin-bottom: 150px;
  }

  .emailbutton::after {
    font-size: initial;
  }
}
