//
// - - - - - - - - - - Tooltip - - - - - - - - - - //
//

.emailbutton {
	position: relative;
	cursor: pointer;
	width: 32px;

	&:after {
		content: 'Copy Email Clipboard';
		display: none;
		position: absolute;
		z-index: 9999;
		top: -5px;
		left: 20px;
		width: 114px;
		height: 36px;
		color: #fff;
		font-size: 1em;
	}

	&:hover {
		&:before,
		&:after {
			display: block;
		}
	}

	&:active,
	&:focus {
		outline: none;

		&:after {
			content: 'Copied!';
			top: 5px;
			left: 13px;
		}
	}
}
