//
// - - - - - - - - - - Contact - - - - - - - - - - //
//

.emailbutton {
	position: relative;
	cursor: pointer;

	// &:before {
	// 	content: '';
	// 	display: none;
	// 	position: absolute;
	// 	z-index: 9998;
	// 	top: 35px;
	// 	left: 15px;
	// 	width: 0;
	// 	height: 0;

	&:after {
		content: 'Copy Email Clipboard';
		display: none;
		position: absolute;
		z-index: 9999;
		top: -5px;
		left: 20px;
		width: 114px;
		height: 36px;
		color: #fff;
		font-size: 1em;
	}

	&:hover {
		&:before,
		&:after {
			display: block;
		}
	}

	&:active,
	&:focus {
		outline: none;

		&:after {
			content: 'Copied!';
			top: 5px;
			left: 13px;
		}
	}
}
