// * {
// 	border: 1px solid #f00 !important;
// }

//
// - - - - - - - - - - Body - - - - - - - - - - //
//

body {
	padding: 10px;
	background-color: #000;
	color: #9e9c9b;
}

//
// - - - - - - - - - - Header - - - - - - - - - - //
//

header {
	z-index: 1;
}
