//
// - - - - - - - - - - Body - - - - - - - - - - //
//

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 10px;
	background-color: #000;
	color: #9e9c9b;
	font-family: 'Cabin', sans-serif;
}

//
// - - - - - - - - - - Header - - - - - - - - - - //
//

header {
	z-index: 1;
}
