//
// - - - - - - - - - - Hamburger Transition - - - - - - - - - - //
//

.nav-toggle {
	.hamburger,
	.hamburger::before,
	.hamburger::after {
		transition: transform 450ms ease-in-out;
	}
}

.nav-open {
	.hamburger {
		background-color: inherit;
	}

	.hamburger::before {
		transform: translateY(6px) rotate(45deg);
	}

	.hamburger::after {
		transform: translateY(-6px) rotate(-45deg);
	}
}

//
// - - - - - - - - - - Nav Menu Transition - - - - - - - - - - //
//

.navbar {
	transition: transform 600ms ease-in-out;
}

.navbar {
	transform: translatey(-100%);
}

.navbar-open {
	transform: translatey(14%);
}
